<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <h1>Sustainable Charge</h1>
    <div id="location"></div>
    <!-- <ul id="charging_stations"></ul> -->
    <section id="loader">
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
    </section>
    <section id="charging_stations" class="hidden"></section>
</body>

</html>