<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <section id="zero_state">
        <div>
            <h1>Sustainable Charge</h1>
            <p>Locate the most sustainable charging stations in your area</p>
        </div>
        <div>
            <p>
                Do you wonder when and where to charge your electric car? Wait a couple of hours for a better time, or
                drive
                a little further for a more sustainable charging station.
            </p>
            <p>
                With Sustainable Charge you get more insight into this
                information.
            </p>
            <a href="/search">Search stations</a>
        </div>
    </section>
</body>

</html>