<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <header>
        <h1>Sustainable Charge</h1>

        <nav>
            <p id="results">... results</p>
            <button id="open_times">
                <img src="images/clock-icon.png" alt="Clock icon">
            </button>
            <button id="open_filters">
                <img src="images/filter-icon.png" alt="Filter icon">
            </button>
        </nav>

        <section class="hidden" id="filters">
            <label for="radius">Radius:</label>
            <select name="radius" id="radius">
                <option value="250">250 meters</option>
                <option value="500" selected>500 meters</option>
                <option value="1000">1000 meters</option>
                <option value="1500">1500 meters</option>
            </select>
            <label for="sort">Sort by:</label>
            <select name="sort" id="sort">
                <option value="sustainability" selected>Sustainability</option>
                <option value="distance">Distance</option>
            </select>
        </section>

        <section class="hidden" id="times">
            <% bestTimes.forEach(function(time) { %>
                <article>
                    <p>
                        <%= Object.keys(time)[0] %>: <%= Object.values(time)[0] %>
                    </p>
                </article>
                <% }) %>
        </section>

        <p class="hidden" id="error_message"></p>
    </header>

    <section id="loader">
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
    </section>
    <section id="charging_stations" class="hidden"></section>

    <!-- <footer>
        <button id="open_filters">
            <img src="images/filter-icon.png" alt="Filter Icon">
        </button>
        <button id="open_info">
            <img src="images/info-icon.png" alt="Information Icon">
        </button>
        <button id="open_times">
            <img src="images/clock-icon.png" alt="Clock Icon">
        </button>
    </footer> -->
</body>

</html>