<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <!-- <h1>Sustainable Charge</h1> -->

    <section id="zero_state">
        <h1>Sustainable Charge</h1>
        <div>
            <p>
                Do you wonder when and where to charge your electric car? Wait a couple of hours for a better time, or
                drive
                a little further for a more sustainable charging station.
            </p>
            <p>
                With Sustainable Charge you get more insight into this
                information. Easily locate the best station in your area.
            </p>
            <a href="/search">Search your area</a>
        </div>
    </section>
</body>

</html>