<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <h1>hello world</h1>
    <div id="location"></div>
    <!-- <ul id="charging_stations"></ul> -->
    <section id="loader">
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
    </section>
    <section id="charging_stations" class="hidden">
        <a href="http://www.google.com/maps/place/52.5089142,4.7724513" target="_blank">
            <h2>255 meter</h2>
            <p>Vattenfall</p>
            <p>Sustainability score: </p>
            <button></button>
        </a>
        <a href="http://www.google.com/maps/place/52.5089142,4.7724513" target="_blank">
            <h2>255 meter</h2>
            <p>Vattenfall</p>
            <p>Sustainability score: </p>
            <button></button>
        </a>
        <a href="http://www.google.com/maps/place/52.5089142,4.7724513" target="_blank">
            <h2>255 meter</h2>
            <p>Vattenfall</p>
            <p>Sustainability score: </p>
            <button></button>
        </a>
        <a href="http://www.google.com/maps/place/52.5089142,4.7724513" target="_blank">
            <h2>255 meter</h2>
            <p>Vattenfall</p>
            <p>Sustainability score: </p>
            <button></button>
        </a>
        <a href="http://www.google.com/maps/place/52.5089142,4.7724513" target="_blank">
            <h2>255 meter</h2>
            <p>Vattenfall</p>
            <p>Sustainability score: </p>
            <button></button>
        </a>
        <a href="http://www.google.com/maps/place/52.5089142,4.7724513" target="_blank">
            <h2>255 meter</h2>
            <p>Vattenfall</p>
            <p>Sustainability score: </p>
            <button></button>
        </a>
        <a href="http://www.google.com/maps/place/52.5089142,4.7724513" target="_blank">
            <h2>255 meter</h2>
            <p>Vattenfall</p>
            <p>Sustainability score: </p>
            <button></button>
        </a>
    </section>
</body>

</html>