:root {
    --background-color: #080D55;
    --overlay-background-color: #3851A2;
    --secondary-color: #02958A;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0px;
    background-color: var(--background-color);
    z-index: -1;
}

body {
    font-family: roc-grotesk, sans-serif;
    color: white;
    width: 85vw;
    margin: 2rem auto 5rem;
}

h1 {
    max-width: 85vw;
}

#filters,
#error_message {
    position: fixed;
    background-color: white;
    color: black;
    border: 1px solid #080D55;
    border-radius: 0.35em;
    z-index: 2;
    padding: 0.75rem 1rem;
    width: calc(85vw - 1rem * 2 - 1px * 2);
}

#filters {
    top: calc(50vh - 123.59px / 2 - 1px * 2);
}

#filters h2 {
    margin: 0 0 0.5em;
}

#filters>div+div {
    margin-top: 0.35em;
}

#error_message {
    top: calc(50vh - 132px / 2 - 1px * 2);
}

#filters button::before,
#error_message button::before {
    content: '\00d7';
    font-size: 175%;
}

#filters button,
#error_message button {
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid #080D55;
    border-radius: 1rem;
    padding: 0 0.4rem;
}

#pop_up_blur {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: lightgray;
    opacity: 0.6;
    z-index: 1;
}

#error_message p {
    margin: 0;
}

#error_message p+p {
    margin-top: 1rem;
}

a {
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    height: 5rem;
    background-color: var(--overlay-background-color);
    box-shadow: 0px 1px 5px var(--overlay-background-color);
    margin-bottom: 0.8rem;
    border-radius: 0.35em;
}

a>* {
    margin: 0;
    padding: 0 1rem;
}

a>h2 {
    font-size: 1.375em;
    padding-top: 0.75rem;
    margin-bottom: 0.2rem;
}

a>p:first-of-type {
    position: absolute;
    padding: 0;
    top: 0.9rem;
    right: 1rem;
}

a>button::before {
    content: '\003E';
}

a>button {
    position: absolute;
    bottom: 0.8rem;
    right: 1.5rem;
    background-color: var(--secondary-color);
    color: white;
    border: unset;
    border-radius: 1rem;
    padding: 0.15rem 0.35rem;
}

.hidden {
    display: none;
}

footer {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    border-top: 1px solid white;
}

footer button {
    background-color: unset;
    border: unset;
    padding: 0.75rem;
}

footer button img {
    height: 2rem;
}