:root {
    --background-color: #080D55;
    --secondary-color: #02958A;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    z-index: -1;
}

body {
    font-family: roc-grotesk, sans-serif;
    color: white;
}

#loader article {
    width: 85vw;
    height: 20vw;
    background-color: grey;
    margin: 0 auto 3vw;
}