:root {
    --background-color: #080D55;
    --overlay-background-color: #3851A2;
    --secondary-color: #02958A;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0px;
    background-color: var(--background-color);
    z-index: -1;
}

body {
    font-family: roc-grotesk, sans-serif;
    color: white;
    width: 85vw;
    margin: 2rem auto;
}

header {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
}

h1 {
    max-width: 85vw;
    margin: 2.5rem 0 1rem;
}

nav {
    display: flex;
    align-items: flex-end;
}

nav p {
    margin: 0;
}

nav button {
    background-color: unset;
    border: unset;
    padding: 0.2rem 0.25rem 0;
}

nav button:first-of-type {
    margin: 0 0.5rem 0 auto;
}

nav button.active {
    background-color: var(--secondary-color);
    border-radius: 0.35rem;
}

nav button>img {
    height: 1.5rem;
}

#times,
#filters {
    text-align: center;
    margin-top: 0.75rem;
}

header h2 {
    margin: 1rem auto 0.75rem;
}

#filters h2 {
    width: 85%;
}

#filters label {
    display: block;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    margin-right: 0.5rem;
    width: 60%;
    height: 0.4rem;
    background: var(--overlay-background-color);
    border-radius: 0.35rem;
    background-image: linear-gradient(var(--secondary-color), var(--secondary-color));
    background-size: 20% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="number"] {
    border: unset;
    border-radius: 0.35rem;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 0.25rem;
}

#filters>select {
    font-size: 0.9rem;
    text-align: center;
    margin: 0.15rem auto 0.75rem;
    color: white;
    background-color: var(--overlay-background-color);
    border: unset;
    padding: 0.25rem 0.5rem;
    box-shadow: 0px 1px 5px var(--overlay-background-color);
    border-radius: 0.35rem;
    display: block;
}

#times div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#times article {
    width: 75%;
}

#times article:nth-of-type(2n) {
    justify-self: end;
}

#times article:first-of-type {
    background-color: var(--secondary-color);
}

#loader article {
    height: 3.5rem;
}

article {
    position: relative;
    height: fit-content;
    background-color: var(--overlay-background-color);
    box-shadow: 0px 1px 5px var(--overlay-background-color);
    margin-bottom: 0.8rem;
    padding: 0.75rem 1rem 0.65rem;
    border-radius: 0.35rem;
}

article>* {
    margin: 0;
}

article>h2 {
    font-size: 1.375rem;
    margin-bottom: 0.2rem;
}

article>button {
    position: absolute;
    bottom: 0.8rem;
    right: 1.5rem;
    background-color: var(--secondary-color);
    color: white;
    border: unset;
    border-radius: 1rem;
    padding: 0.15rem 0.55rem;
}

#extra_info_container {
    border-top: 1px solid white;
    margin-top: 0.65rem;
}

#extra_info_container>* {
    margin: 0.5rem 0;
}

#extra_info_container>a {
    display: block;
    text-decoration: none;
    width: fit-content;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 0.35rem;
    padding: 0.25rem 0.5rem;
    margin: 1rem 0 0.35rem;
}

.hidden {
    display: none !important;
}